{% extends 'project/base.html' %}
{% block title %} {{ Subject.name }} {% endblock %}

{% block body %}

    <h1> {{ Subject.name }}'-' + {{ Subject.code }} </h1>
    <h2>{{ Subject.collage }} + '-' + {{ Subject.level }}</h2>
    {% if all_cources %}
        <ul>
        {% for Cource in all_cources %}
            <li><a href="{% url 'project:show_cource' %}">{{ Cource.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No cources are available yet.</p>
    {% endif %}

{% endblock %}
